<div class="page docs-viewer">
  <h1 tabindex="-1">更新指南</h1>
  <div class="wizard">
    <div>
      <h2>选择与你的更新相匹配的选项</h2>

      <h3>Angular 版本</h3>

      <div class="adev-version-selector">
        <span class="adev-template-select">
          从 v.

          <button [cdkMenuTriggerFor]="templatesMenuFrom">
            <span>{{ from.name }}</span>
            <docs-icon>expand_more</docs-icon>
          </button>

          <ng-template #templatesMenuFrom>
            <ul class="adev-template-dropdown" cdkMenu>
              @for (version of versions; track $index) {
                <li>
                  <button cdkMenuItem type="button" (click)="from=version; showUpdatePath()">
                    <span>{{ version.name }}</span>
                  </button>
                </li>
              }
            </ul>
          </ng-template>
        </span>

        <span>
          <span class="adev-template-select">
            到 v.
            <button [cdkMenuTriggerFor]="templatesMenuTo">
              <span>{{ to.name }}</span>
              <docs-icon>expand_more</docs-icon>
            </button>

            <ng-template #templatesMenuTo>
              <ul class="adev-template-dropdown" cdkMenu>
                @for (version of versions; track $index) {
                  <li>
                    <button cdkMenuItem type="button" (click)="to=version; showUpdatePath()">
                      <span>{{ version.name }}</span>
                    </button>
                  </li>
                }
              </ul>
            </ng-template>
          </span>
        </span>
      </div>

      @if (from.number >= futureVersion || to.number >= futureVersion) {
        <div class="docs-alert docs-alert-critical">
          <p>
            <strong>警告：</strong>
            当前主要版本之后的发布计划尚未最终确定，可能会有变化。这些建议是基于计划中的弃用情况。
          </p>
        </div>
      }

      @if (from.number > to.number) {
        <div class="docs-alert docs-alert-critical">
          <p>
            <strong>警告：</strong>
            我们不支持降级 Angular 版本。
          </p>
        </div>
      }

      @if ((to.number - from.number > 150) && from.number > 240) {
        <div class="docs-alert docs-alert-critical">
          <p>
            <strong>警告：</strong>
            确保按照以下指南把你的应用程序迁移到新版本。你每次运行 <code>ng update</code> 时不应该跳过任何主要版本来更新 Angular 应用程序。
          </p>
        </div>
      }

      <h3>应用程序复杂性</h3>
      <mat-button-toggle-group
        (change)="level = $event.value;"
        [value]="level"
        style="margin-bottom:16px;"
      >
        <mat-button-toggle [value]="1">基础</mat-button-toggle>
        <mat-button-toggle [value]="2">中等</mat-button-toggle>
        <mat-button-toggle [value]="3">高级</mat-button-toggle>
      </mat-button-toggle-group>
      @if (level === 1) {
        <p>展示所有 Angular 开发者都感兴趣的信息。</p>
      } @else if (level === 2) {
        <p>展示更高级 Angular 开发者会感兴趣的信息。</p>
      } @else if (level === 3) {
        <p>展示关于这个更新的所有信息。</p>
      }

      <h3>Other dependencies</h3>
      @for (option of optionList; track $index) {
        <div>
          <mat-checkbox
            (change)="options[option.id] = $event.checked; showUpdatePath()"
            [checked]="options[option.id]"
            >I use {{option.name}} {{option.description}}</mat-checkbox
          >
        </div>
      }

      @if (from.number < 600) {
        <h4>包管理器</h4>
        <mat-button-toggle-group
          (change)="packageManager = $event.value; showUpdatePath()"
          [value]="packageManager"
        >
          <mat-button-toggle value="npm install">npm</mat-button-toggle>
          <mat-button-toggle value="yarn add">yarn</mat-button-toggle>
        </mat-button-toggle-group>
      }

      <button
        type="button"
        (click)="showUpdatePath()"
        class="docs-primary-btn show-button"
        [attr.text]="'告诉我如何更新！'"
      >
        告诉我如何更新
      </button>
    </div>
  </div>

  <hr />
  <!-- RECOMMENDATIONS SECTION -->

  @if (
    beforeRecommendations.length > 0 || duringRecommendations.length > 0 || afterRecommendations.length > 0
  ) {
    <div class="recommendations">
      <h2>{{title}}</h2>

      <h3>在更新之前</h3>
      @for (r  of beforeRecommendations; track $index) {
        <div class="adev-recommentation-item">
          <mat-checkbox></mat-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
      }
      @if (beforeRecommendations.length <= 0) {
        <div>
          <em>在这些版本之间切换之前，你无需进行任何操作。</em>
        </div>
      }

      <h3>更新到新版本</h3>
      @if (duringRecommendations.length > 0) {
        <div>
          <em>请审核这些更改并执行这些操作来更新应用程序。</em>
        </div>
      }

      @for (r of duringRecommendations; track $index) {
        <div class="adev-recommentation-item">
          <mat-checkbox></mat-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
      }
      @if (duringRecommendations.length <= 0) {
        <div>
          <em>对这些版本之间的移动，没有任何建议。</em>
        </div>
      }

      <h3>更新之后</h3>
      @for (r of afterRecommendations; track $index) {
        <div class="adev-recommentation-item">
          <mat-checkbox></mat-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
      }
      @if (afterRecommendations.length <= 0) {
        <div>
          <em>在切换这些版本之后，你无需进行任何操作。</em>
        </div>
      }
    </div>
  }
</div>
