<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>社交媒体</h2>
      <ul>
        <li>
          <a [href]="MEDIUM" title="Angular 博客">博客</a>
        </li>
        <li>
          <a [href]="X" title="X (formerly Twitter)">X (前 Twitter)</a>
        </li>
        <li>
          <a [href]="YOUTUBE" title="YouTube">YouTube</a>
        </li>
        <li>
          <a
            href="https://discord.gg/angular"
            title="加入 Angular 社区 Discord 服务器的讨论吧！"
          >
            Discord
          </a>
        </li>
        <li>
          <a [href]="GITHUB" title="GitHub">GitHub</a>
        </li>
        <li>
          <a
            href="https://stackoverflow.com/questions/tagged/angular"
            title="Stack Overflow：社区为你解答技术上的 Angular 问题。"
          >
            Stack Overflow
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>社区</h2>
      <ul>
        <li>
          <a
            href="https://github.com/angular/angular/blob/main/CONTRIBUTING.md"
            title="向 Angular 做贡献"
          >
            做贡献
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/code-of-conduct/blob/main/CODE_OF_CONDUCT.md"
            title="彼此尊重"
          >
            行为准则
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/angular/issues"
            title="在 Github 上报告问题或提建议"
          >
            报告问题
          </a>
        </li>
        <li>
          <a
            href="https://devlibrary.withgoogle.com/products/angular?sort=updated"
            title="Google 的开发库"
          >
            Google 的 开发库
          </a>
        </li>
        <li>
          <a
            href="https://developers.google.com/community/experts/directory?specialization=angular"
            title="Angular Google 开发技术专家"
          >
            Angular Google 开发技术专家
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>资源</h2>
      <ul>
        <li>
          <a routerLink="/press-kit" title="媒体联系、标志和品牌形象。">宣传资料</a>
        </li>
        <li>
          <a routerLink="/roadmap" title="路线图">路线图</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>多语言</h2>
      <ul>
        <li>
          <a href="https://angular.dev/" title="English Version">English Version</a>
        </li>
        <li>
          <a href="https://angular.tw/" title="正體中文版">正體中文版</a>
        </li>
        <li>
          <a href="https://angular.jp/" title="日本語版">日本語版</a>
        </li>
        <li>
          <a href="https://angular.kr/" title="한국어">한국어</a>
        </li>
        <li>
          <a
            href="https://angular-gr.web.app"
            title="&Epsilon;&lambda;&lambda;&eta;&nu;&iota;&kappa;ά"
          >
            &Epsilon;&lambda;&lambda;&eta;&nu;&iota;&kappa;ά
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    由 Google 强力赋能 ©2010-2024。代码以<a routerLink="/license" title="协议文本">MIT-style 协议</a>授权。文档以
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> 授权。
  </p>
</div>
