<div class="adev-preview-error docs-light-mode docs-mini-scroll-track">
  @if (error()?.type === ErrorType.UNSUPPORTED_BROWSER_ENVIRONMENT) {
    @if (isIos) {
      <p>在桌面设备上打开 angular.dev，直接在浏览器中编写代码。</p>
    }
  } @else if (error()?.type === ErrorType.COOKIES || error()?.type === ErrorType.UNKNOWN) {
    <p>
      我们无法启动教程应用。请确保已为此站点启用第三方 Cookie。
    </p>
  } @else if (error()?.type === ErrorType.OUT_OF_MEMORY) {
    <p>
      我们无法启动教程应用，因为你的浏览器内存不足。请关闭其他标签页或窗口中的 angular.dev 教程，并刷新页面以释放内存。
    </p>
  }

  @if (error()?.message) {
    <small>
      错误信息为：
      <code>{{ error()!.message }}</code>
    </small>
  }
</div>
