<div class="adev-embedded-editor-preview-container">
  @if (loadingProgressValue() !== loadingEnum.ERROR) {
    <iframe
      class="adev-embedded-editor-preview"
      allow="cross-origin-isolated"
      title="编辑器预览"
      [src]="previewUrlForIFrame()"
    ></iframe>
  } @else {
    <docs-tutorial-preview-error />
  }

  @if (loadingProgressValue() < loadingEnum.READY && loadingProgressValue() !== loadingEnum.ERROR) {
    <div class="adev-embedded-editor-preview-loading">
      @switch (loadingProgressValue()) {
        @case (loadingEnum.NOT_STARTED) {
          <span class="adev-embedded-editor-preview-loading-starting">正在启动</span>
        }
        @case (loadingEnum.BOOT) {
          <span class="adev-embedded-editor-preview-loading-boot">正在引导</span>
        }
        @case (loadingEnum.LOAD_FILES) {
          <span class="adev-embedded-editor-preview-loading-load-files">正在创建项目</span>
        }
        @case (loadingEnum.INSTALL) {
          <span class="adev-embedded-editor-preview-loading-install">正在安装依赖包</span>
        }
        @case (loadingEnum.START_DEV_SERVER) {
          <span class="adev-embedded-editor-preview-loading-start-dev-server">
            正在初始化开发服务器
          </span>
        }
      }
      <progress
        title="预览进度"
        [value]="loadingProgressValue()"
        [max]="loadingEnum.READY"
      ></progress>
    </div>
  }
</div>
